<%- include ('partials/header.ejs')%>
<body>
    <section class="container-flex">
        <article class="card-birthday">
            <h2>0 aniversariante</h2>
            <ul class="list-birthday-person">

                <% perguntas.forEach(pergunta => { %>
                    <li class="birthday-person">
                        <div class="img-birthday-person">
                            <img src="/img/avatar.jpg" alt="">
                        </div>
                        <div class="info-birthday-person">
                            <h1> <%= pergunta.nome%>  </h1>
                            <p>19 anos -<span class="date-birthday"> <%= pergunta.aniversario%></span></p>
                        </div>
                        <div class="button-delete">X</div>
                    </li> 
                <%})%>

                <div class="no-birthday-div">
                    <p>Não há aniversariantes cadastrados ):</p>
                </div>
            </ul>
            <div class="buttons">
                <a href="/cadastrar">Adicionar Aniversariante</a>
            </div>
            <div class="toogle-theme-btn">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                  </label>
            </div>
        </article>
    </section>
</body>
<%- include ('partials/footer.ejs')%>