form{
    margin: 20px auto;
    padding: 0 7px;
}

label{
    display: block;
    margin: 25px auto 5px auto;
    word-wrap: break-word;
}

input{
    display: block;
    width: 100%;
    word-wrap: break-word;
}

span{
    color: red;
    word-wrap: break-word;
}

.emailSpan{
    color: var(--bg-panel);
    font-size: 14px;
    margin-top: 5px;
    display: block;
}

#enviar{
    display: block;
    color: white;
    padding: 10px 7px;
    background-color: var(--bg);
    transition: all .3s;
    word-wrap: break-word;
    cursor: pointer;
    margin: 15px auto 10px auto;
    border: none;
}

#enviar:hover{
    background-color: var(--color-text);
}

.btnBack{
    display: block;
    color: white;
    padding: 8px 5px;
    background-color: var(--bg);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s;
}

.btnBack:hover{
    background-color: var(--color-text);
}