*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --female-bg-color: #f18bb2;
    --female-primary-font-color: #212530;
    --female-secondary-font-color: #627890;
    --hover-female-btn: #e66194;
}

body{
    background-color: var(--female-bg-color);

}

.container-flex{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-birthday h2{
    font-size: 1.6em;
    color: var(--female-primary-font-color);
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid var(--female-secondary-font-color);
    word-wrap: break-word;
}

.card-birthday{
    background-color: #fff;
    box-shadow: 5px 5px 16px 5px rgba(0,0,0,0.34);
    padding: 15px;
    max-width: 450px;
    width: 90%;
}

.list-birthday-person{
    margin-top: 20px;
}

.list-birthday-person li{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px auto 30px auto;
    position: relative;
}

.img-birthday-person{
    flex: 1;
    text-align: center;
}

.img-birthday-person img{
    max-width: 90px;
    max-height: 90px;
    width: 90%;
    border-radius: 50%;
    position: relative;
}

.no-birthday-div{
    text-align: center;
    margin: 10px auto 15px auto;
    color: var(--female-secondary-font-color);
}

.info-birthday-person{
    flex: 2;
}

.info-birthday-person h1{
    color: var(--female-primary-font-color);
}

.info-birthday-person p{
    color: var(--female-secondary-font-color);
    font-size: 14px;
}

.buttons{
    width: 100%;
    margin-bottom: 5px;
}

.buttons > a{
    display: block;
    color: white;
    padding: 10px 7px;
    background-color: var(--female-bg-color);
    text-decoration: none;
    text-align: center;
    transition: all .3s;
    word-wrap: break-word;
}


.buttons > a:hover{
    background-color: var(--hover-female-btn);
}

.button-delete{
    background-color: var(--female-bg-color);
    position: absolute;
    right: 0;
    padding: 0px 5px;
    color: white;
    opacity: 0;
    transition: all .3s;
    cursor: pointer;
}

.list-birthday-person li:hover .button-delete{
    opacity: 1;
}

.toogle-theme-btn{
    position: absolute;
    top: 40px;
    right: 80px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: black;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.date-birthday{
    color:var(--female-secondary-font-color);
}

@media screen and (max-width:340px){
    .img-birthday-person{
        flex: 0 1 auto;
        width: 100%;
        text-align: center;
    }

    .info-birthday-person{
        flex: 0 1 auto;
        width: 100%;
        text-align: center;
    }

    .toogle-theme-btn{
        right: 10px;
        top: 10px;
    }
}